<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>添加页面</h3>
<form action="/stu/add" method="post">
<table>
    <tr>
        <td>姓名</td>
        <td><input type="text" name="name" value=""></td>
    </tr>
    <tr>
    <td>年龄</td>
        <td><input type="text" name="age"/></td>
    </tr>
    <tr>
        <td>生日</td>
        <td><input type="date" name="birthday"/></td>
    </tr>
    <tr>
        <td><input type="submit" value="增加"/></td>
        <td></td>
    </tr>

</table>
</form>
</body>
</html>