<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>学生列表</h3>

<table>
    <tr>
        <td>学生id</td>
        <td>姓名</td>
        <td>年龄</td>
        <td>生日</td>
        <td>班级编号</td>
        <td>操作</td>
    </tr>

    <tr th:each="stu : ${stus}">
        <td th:text="${stu.id}"></td>
        <td th:text="${stu.name}"></td>
        <td th:text="${stu.age}"></td>
        <td th:text="${#dates.format(stu.birthday, 'yyyy-MM-dd')}"></td>
        <td th:text="${stu.cls.cname}"></td>
        <td><a href="/stu/toAdd">增加</a>
            <a th:href="|/stu/del?id=${stu.id}|">删除</a>
            <a th:href="|/stu/queryById?id=${stu.id}|">修改</a>
        </td>
    </tr>
</table>

</body>
</html>